It seems there are a few issues with the message bot. 

gokapaya posted a little explanation in the [last thread](https://www.reddit.com/r/ClosetSanta/comments/5f9oz3/time_to_find_that_perfect_gift_and_send_it/)
[here](https://www.reddit.com/r/ClosetSanta/comments/5f9oz3/time_to_find_that_perfect_gift_and_send_it/daitbl2/).

---
It boils down to:

Keep `Santa-san` there. The line with it tells the bot what to do with your message.

Thx and sorry for the inconvenience. 

~ The /r/ClosetSanta mods
