Hi there!

When signing up you said you would be willing to buy a gift for someone that didn't receive anything from their original Santa.

Please use [this form](https://goo.gl/forms/782WTPmXsFYvm6xf1) to help us make sure every santa also receives a gift :)

Thank you for being awesome.

---

Also in case you missed it - there is a [new update post](https://www.reddit.com/r/ClosetSanta/comments/5ivtee/another_status_update/) out in the subreddit.
