Sorry for the major fuckup I just had.

Everybody got the "Sorry message" regardless of the actual status of their order.

I'm going to fix the bot's code and resend them immediatly. 

Sorry for the inconvenience!
