Hello mods of /r/{{ .Name }}!

This is /u/gokapaya, I am a moderator of /r/ClosetSanta.

I want to ask if you're interested in joining the group of subreddits participating in this years edition of our anime secret santa.

Originally brought to life by /u/UltimateEpicFailz in 2015 this secret santa wants to spread the individual fandoms
within reddit's anime community and bring them together for a christmas gift exchange.

When signing up everyone chooses a subreddit from the list of participating ones to represent and we will match you with
somebody who's choice differs. In this way you might even be dicovering a new niche community or get to meet people from
the big successful subs.

To get an idea of how this works, I posted a preliminary announcement post [here](https://www.reddit.com/r/ClosetSanta/comments/7an1fz/announcing_closetsanta_2017/).

Thanks to /u/Omnipotence_is_bliss we will also have the (improved) anonymous messaging bot again.

### What does this mean for us - the moderators of /r/{{ .Name }}?

To appear on our list of subreddits to represent you just have to sticky a post linking to our annoucement post with the
sign-up link for this years ClosetSanta to your subreddit.

That's it. Nothing more...

Of course I would be happy to have somebody from your mod team volunteer as a support mod of /r/ClosetSanta for the time of the contest.

I would add you to the mod team so you're able to listen in on what's going on but I would mainly want the support mods
to be answering peoples questions in the sub when I am not around (I am in Europe so responding mostly happens asynchronous).

Or if you are interested to join me (I am currently the only active mod - the other guy deleted his account half way
through last year) and help with the actual contest itself I would be most thankful for the help.

---

I would like to open the survey as soon as possible but definitely stick with the schedule we had last year, close it and match everybody by the end of the month.
Once I hear from a few subs I will post the announcement to /r/ClosetSanta and ping you here...

If your sub would like to join or if you have any questions please let me know :)

P.S.: If you know other communities that might be interested or mod one yourself, contact me and I will put them on the list.
