re = "ClosetSanta 2017"

+++

Hello mods of /r/{{ .Subreddit }}!

This is /u/gokapaya, I am a moderator of /r/ClosetSanta.

Your sub has participated in our contest the past 2 years and I was wondering if you were up for it this
year as well?

Originally brought to life by /u/UltimateEpicFailz in 2015 this secret santa wants to spread the individual fandoms
within reddit's anime community and bring them together for a christmas gift exchange.

When signing up everyone chooses a subreddit from the list of participating ones to represent and we will match you with
somebody who's choice differs. In this way you might even be dicovering a new niche community or get to meet people from
the big successful subs.

To get an idea of how this works feel free to look at last years announcement post:
https://www.reddit.com/r/ClosetSanta/comments/5d2o32/santa_is_a_closet_weeaboo_2016_information_rules/

Thanks to /u/Omnipotence_is_bliss we will also have the (improved) anonymous messaging bot again.

## What does this mean for us - the moderators of /r/{{ .Subreddit }}?

To appear on our list of subreddits to represent you just have to sticky a post linking to our annoucement post with the
sign-up link for this years ClosetSanta to your subreddit.

That's it. Nothing more...

Of course I would be happy to have somebody from your mod team volunteer as a support mod of /r/ClosetSanta for the time of the contest.
I would add you to the mod team so you're able to listen in on what's going on but I would mainly want the support mods
to be answering peoples questions in the sub when I am not around - life in general and being in Europe does not help
with that.

Or if you are interested to join me (I am currently the only active mod - the other guy deleted his account half way
through last year) and help with the actual contest itself I would be most thankful for the help.

---

If your sub would like to join or if you have any questions please let me know :)
