Hi there!

We are happy to tell you that your Santa has sent out his gift. It's on it's way to you!

Remember that because of the time of year and the fact that some gifts have to travel around the globe, your gift can be a little late for Christmas Eve.
Until then have a look at the /r/ClosetSanta subreddit to see what other people have gotten so far and build up that anticipation :)

In case you already received your gift. Amazing! We hope you like it.
Why not make a post about it to show your Santa your appreciation.

Thanks for participating and merry christmas!

~ the /r/ClosetSanta mods
