Hi there!

We have to tell you that your Santa didn't do his job :(
As of right now we have no confirmation from them that they sent a gift.

But don't worry, over half of the participants this year said they would be able to act as a re-gifter and would send out a gift to those in your position.

Check the subreddit on the current progress of the rematching process. 
You will receive another PM from us when we found somebody for you!

~ the /r/ClosetSanta mods
