{{ if .ShareName }}Your giftee is: **/u/{{ .Username }}**  {{ end }}
Your giftees watchlist: **{{ .Watchlist }}**  
They are representing: **/r/{{ .RepSubreddit }}**  

---

### Your giftee's message to you:

{{ .MessageToSanta }}

---

### Your giftee's shipping information:

**Name:** {{ .Address.Fullname }}  
**Street:** {{ .Address.Street1 }}  
**Street 2:** {{ .Address.Street2 }}  
**City:** {{ .Address.City }}  
**State/Province:** {{ .Address.State }}  
**Country:** {{ .Address.Country }}  
**Post/Zip:** {{ .Address.Zipcode }}  

After buying and shipping the gift, please contact /r/ClosetSanta via [modmail][to-cs] with the proof of shipping before the deadline of **December 9th**.  
If there is an issue, or you just have a general question, please reach out to the mods, or check the [info and rules post][info-rules].

[to-cs]: https://www.reddit.com/message/compose/?to=/r/ClosetSanta
[info-rules]: https://www.reddit.com/r/ClosetSanta/comments/7an1fz/announcing_closetsanta_2017

Let's all enjoy this event and share our favorite series and maybe make some new fans!

---

Thanks to /u/Omnipotence_is_bliss you can use an anonymous messaging bot to communicate with your santa and your giftee and stay a secret santa.

[Send mail to your gift recipient][as-santa] or [Send mail to your Santa-san][to-santa]

[as-santa]: https://www.reddit.com/message/compose/?to=ClosetSantaAnonymous&subject=As%20Santa-san
[to-santa]: https://www.reddit.com/message/compose/?to=ClosetSantaAnonymous&subject=To%20Santa-san

---

Thanks for signing up for 'Santa is a Closet Weeaboo'! Be sure to let everyone know what you receive!

~ The /r/ClosetSanta mod team
