{{ if .ShareName }}Your giftee is: **/u/{{ .Username }}**  {{ end }}
Your giftees watchlist: **{{ .Watchlist }}**  
They are representing: **/r/{{ .RepSubreddit }}**  

---

### Your giftee's message to you:

{{ .MessageToSanta }}

---

### Your giftee's shipping information:

**Name:** {{ .Address.Fullname }}
**Street:** {{ .Address.Street1 }}
**Street 2:** {{ .Address.Street2 }}
**City:** {{ .Address.City }}
**State/Province:** {{ .Address.State }}
**Country:** {{ .Address.Country }}
**Post/Zip:** {{ .Address.Zipcode }}

After buying and shipping the gift, please send a modmail to /r/ClosetSanta with the proof of shipping before the deadline of December 9th. If there is an issue, or you just have a general question, please reach out to the mods, or check the info and rules post. Let's all enjoy this event and share our favorite series and maybe make some new fans!

---

Thanks to /u/Omnipotence_is_bliss you can use an anonymous messaging bot to communicate with your santa and your giftee and stay a secret santa.

[Send mail to your gift recipient](https://www.reddit.com/message/compose/?to=ClosetSantaAnonymous&subject=Closet%20Santa%20message&message=From%3A%20Santa-san%0A%0AMessage%3A%20) 
or 
[Send mail to your Closet Santa](https://www.reddit.com/message/compose/?to=ClosetSantaAnonymous&subject=Closet%20Santa%20message&message=To%3A%20Santa-san%0A%0AMessage%3A%20)

---

Thanks for signing up for 'Santa is a Closet Weeaboo'! Be sure to let everyone know what you receive!

~ The /r/ClosetSanta mod team
