Hey,

Christmas is over, the new year has begun but there is still something in store for you...

We are happy to tell you that we found a regifter for you.

Over the next few weeks they will send out your gift and just like with the first round going to send prove to us.

Once we know your gift is on it's way we will update you about that.

---

Let us know if there are any issues or questions. Just post on one of the pinned threads in the subreddit.

~ the mods of /u/ClosetSanta
